<h1 id="var-name">名前：<%= @user.name%></h1>
<h1 id="var-email">メールアドレス：<%= @user.email%></h1>
<h1 id="var-phone_number">電話番号：<%= @user.phone_number %></h1>
<h1 id="var-description">自己紹介：<%= @user.description%></h1>
